[Unit]
Description=Flask-app
After=network.target

[Service]
WorkingDirectory=/home/vlysenko
ExecStart=/home/vlysenko/env/bin/python run.py -m gunicorn run:app -b 0.0.0.0:80 -w 3
Restart=always

[Install]
WantedBy=multi-user.target